sigproc-sp.synctex.gz
sigproc-sp.pdf
sigproc-sp.log
sigproc-sp.blg
.DS_Store
ArticleSpinningFormat-eps-converted-to.pdf
RecallRecognition-eps-converted-to.pdf
shapes-eps-converted-to.pdf
text-eps-converted-to.pdf
